<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rent Mojo - Sure shot homes</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <header class="w-full bg-red-300 py-5 pl-3 text-white">
      <ul class="flex gap-x-5 items-center">
        <li class="hover:bg-red-600 p-2 rounded-lg">
          <a href="/">Home Page</a>
        </li>
        <li class="hover:bg-red-600 p-2 rounded-lg">
          <a href="/form/add-home">Add Home</a>
        </li>
      </ul>
    </header>