<%- include('partials/header.ejs') %>

<main>
  <div class="text-center">
    <h1 class="text-8xl py-5">Rent Mojo</h1>
    <p class="italic">
      Find Your Perfect Stay, Book With Ease — Your Home Away from Home Starts
      Here.
    </p>
  </div>
</main>

<%- include('partials/footer.ejs') %>
