<%- include('partials/header.ejs') %>

<main>
  <div class="text-center">
    <h1 class="text-3xl py-5">Home Added Successfully</h1>
    <p class="italic">
      <a href="/">Go to Home</a>
    </p>
  </div>
</main>

<%- include('partials/footer.ejs') %>
